@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

form {
    background-color: #b2bec3;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}


input[type="text"],
input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 95%;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #dfe6e9;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

h1 {
    text-align: center;
}
